<html>

<head>

</head>

<body>


<center><p><font size= "48" color= "black"> Please choose a strategy guide you would like to view.</font>

<center><img src="images/fromsoft.jpg" alt="fromsoft logo" width="500" height="377"></center>
<br>

<form method="post" action="book_choice">
	<input type="radio" name="book_title" value="Dark Souls"> Dark Souls<br>
    <input type="radio" name="book_title" value="Dark Souls 2"> Dark Souls 2<br>
    <input type="radio" name="book_title" value="Dark Souls 3"> Dark Souls 3<br>
    <input type="radio" name="book_title" value="Bloodborne"> Bloodborne<br>
    <input type="radio" name="book_title" value="Bloodborne DLC"> Bloodborne DLC<br>
    <br>
    <br>
    <input type="submit">
</form>

</body>

<footer>

</footer>
	

<html>
