<html>
<head>

	<h1>
	<center><font size="72" color= "black">From Software Strategy Guide Search</font></center>
	</h1>

</head>

<body background="images/background.jpg">
	<div class ="center-body">
		<%= yield %>
	</div>

</body>
	
<footer>
	<center>
		<b><font size="72" color= "black"><div class="footer-text">
		Prepare to Die!
	</div></center></font></b>
</footer>


<html>